#Ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: blue;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .container{
      overflow: hidden;
  }
  .container button{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 200px;
    height: 150px;
    font-size: 3em;
    border-radius: 10px;
  }
  .hole, .winHole, .tempHole{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    z-index: -2;
    position: absolute;
  }
  .winHole{
    background: #49ff38;
    z-index: -1;
  }
  .hole{
    background: #000000;    
  }
  .tempHole{
    background: #9dcc4075;
  }